<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>AI picture detect</title>
</head>
<body>
  <h1>AI picture detect</h1>

  <form id="uploadForm">
    <h3>upload local picture：</h3>
    <input type="file" id="fileInput">

    <h3>input link：</h3>
    <input type="text" id="urlInput" placeholder="image URL">
    
    <br><br>
    <button type="submit">start</button>
  </form>

  <h3>result：</h3>
  <pre id="result"></pre>

  <script src="{{ url_for('static', filename='detect.js') }}"></script>
</body>
</html>

