<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center text-center mt-5">
  <h1>SafeStream Guardian</h1>
  <p class="lead mt-3">
    Our vision is to empower parents with safe and balanced digital tools 
    that help create a nurturing online and offline experience for your child.
  </p>

  <div class="mt-4">
    <button id="epic1"
            class="btn btn-primary mx-2"
            onclick="window.location.href='{{ url_for('epic1') }}'">
      Education Hub
    </button>
    <button id="epic2"
            class="btn btn-secondary mx-2"
            onclick="window.location.href='{{ url_for('epic2') }}'">
      Digital Life Planner
    </button>
    <button id="epic3"
            class="btn btn-secondary mx-2"
            onclick="window.location.href='{{ url_for('story_page') }}'">
      cyber story
    </button>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
